<!--------------------------------- Task One ---------------------------------------->
<h1>{{ pageTitle }}</h1>
<h2>Sum of a and b: {{ a + b }}</h2>
<h3>Sum of a and b plus 10: {{ a + b + 10 }}</h3>
<!-------------------------------- Task 3  ------------------------------------------->

<!-------------------------------- Task 2 --------------------------------------------->
<img [src]="imageUrl" [hidden]="disable" alt="Image" />

<button (click)="toggleChange()">Toggle Disable</button>
<!-------------------------------- Task 2 --------------------------------------------->

<!-------------------------------- Task 3 --------------------------------------------->
<button (click)="handleButtonClick()">Click me</button>
<!--------------------------------- Task 3 --------------------------------------------->
